---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/Dropdown.astro";
---

<Layout title="AstroHacks 2024">
	<main>
		<section class="full-height-section">
			<h1>Register for</h1>
			<h1>AstroHacks 2024!</h1>

			<p class="text-center">Scroll to learn more</p>

			<!-- make an rsvp button -->
			<a class="rsvp-button" href="https://forms.gle/WfniEKEFr2DrTvP77">
				RSVP
			</a>

			<div class="relative-container">
				<svg
					class="scroll-icon"
					viewBox="0 0 48 48"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M8 44V32.15C8 31.4833 8.15867 30.85 8.476 30.25C8.79333 29.65 9.23467 29.1667 9.8 28.8L12 27.35C12.2333 30.15 12.6 32.5333 13.1 34.5C13.6 36.4667 14.3833 38.65 15.45 41.05L8 44ZM18.45 40C17.2833 37.8 16.4167 35.4667 15.85 33C15.2833 30.5333 15 27.9833 15 25.35C15 21.1833 15.8253 17.2587 17.476 13.576C19.1267 9.89335 21.3013 7.10135 24 5.20001C26.7 7.10001 28.8753 9.89201 30.526 13.576C32.1767 17.26 33.0013 21.1847 33 25.35C33 27.95 32.7167 30.4753 32.15 32.926C31.5833 35.3767 30.7167 37.7347 29.55 40H18.45ZM24 26C25.1 26 26.042 25.6087 26.826 24.826C27.61 24.0433 28.0013 23.1013 28 22C28 20.9 27.6087 19.9587 26.826 19.176C26.0433 18.3933 25.1013 18.0013 24 18C22.9 18 21.9587 18.392 21.176 19.176C20.3933 19.96 20.0013 20.9013 20 22C20 23.1 20.392 24.042 21.176 24.826C21.96 25.61 22.9013 26.0013 24 26ZM40 44L32.55 41.05C33.6167 38.65 34.4 36.4667 34.9 34.5C35.4 32.5333 35.7667 30.15 36 27.35L38.2 28.8C38.7667 29.1667 39.2087 29.65 39.526 30.25C39.8433 30.85 40.0013 31.4833 40 32.15V44Z"
						fill="white"></path>
				</svg>
			</div>
		</section>

		<hr />

		<section class="about-section">
			<h2>About AstroHacks</h2>
			<p>
				Whether you are a complete beginner who wants to dip your toes into the
				world of Computer Science, or the next Zuckerberg in the making,
				AstroHacks is for you! It's a completely FREE coding competition for
				high school students of ANY skill level. We'll have prizes, food, and
				above all we aim to create a space for students to hang out, learn
				coding, build projects, and have fun! Check out some pics from Assemble,
				another hackathon run by Hack Clubbers like us!
			</p>

			<div class="image-row">
				<img src="images/assemble1.png" alt="AstroHacks 2024" />
				<img src="images/assemble2.png" alt="AstroHacks 2024" />
				<img src="images/assemble3.png" alt="AstroHacks 2024" />
				<img src="images/assemble4.png" alt="AstroHacks 2024" />
			</div>

			<p>
				Interested? Excited? Ready to compete with existing friends or new
				friends? <a href="">Register today!</a>
			</p>
		</section>

		<section class="schedule-section">
			<h2>Schedule</h2>

			<p>9:00am - Welcome in</p>
			<p>9:30am - Breakfast/Introduction for the day</p>
			<p>10:00 - Find/Organize your team - Start Hacking - Breakfast</p>
			<p>12:30pm - Lunch</p>
			<p>1:00pm - Start Hacking/Workshop #1</p>
			<p>2:00pm - Workshop #2</p>
			<p>5:00pm - Dinner/Presentation Prep</p>
			<p>6:00-7:00pm - Presentations Judging</p>
			<p>7:00-8:00pm Awards + Cleanup</p>
		</section>

		<section class="dropdowns-section">
			<h2>FAQs</h2>
			<Dropdown
				title="Who can participate?"
				body="Any high schooler can participate!"
			/>
			<Dropdown title="When and where is this hackathon?" body="">
				<p class="text-left">
					AstroHacks 2024 will be held at the Boys and Girls Club of Irvine, 295
					E Yale Loop, Irvine, CA 92604. The event will be held on April 13th
					for 12 hours, 9am to 9pm.
				</p>
			</Dropdown>

			<Dropdown
				title="Does this event cost money?"
				body="Nope, this event will be completely free!"
			/>

			<Dropdown
				title="What should I bring?"
				body="A form of identification (Student ID, Drivers License, etc.), laptop, charger(s), and any other items that you think you'll need."
			/>

			<Dropdown
				title="What if I have dietary restrictions?"
				body="We will provide food along with vegetarian options but unfortunately we are not able to provide vegan options. If you prefer to bring your own food or you are vegan, we recommend you to bring your own meals. We are very sorry for the inconvenience."
			/>

			<Dropdown
				title="I have more questions..."
				body="I have a lot of ways you can contact me! You can shoot me a Discord friend request @congo17, a text on Slack @Chris (the profile picture with an anime guy smiling), text my phone at +1(951) 595 - 2909, or email me on my personal (because our org email is kinda iffy sometimes): chris981lee@outlook.com"
			/>
		</section>

		<section>
			<h2>Our Team</h2>
			<p>Meet the people behind AstroHacks!</p>
			<br />

			<div class="profiles">
				<div class="profile">
					<img src="images/chris.png" alt="a photo of chris" />
					<h3>Chris Lee</h3>
					<small>Organizer</small>
					<p>
						Hey! I'm Chris and I'm currently a sophomore. A fun fact about me is
						that I have the same birthday as my older brother who's 11 years
						older than me!
					</p>
				</div>
				<!-- haris -->
				<div class="profile">
					<img src="images/haris.png" alt="a photo of haris" />
					<h3>Haris Faruqi</h3>
					<small>Organizer</small>
					<p>
						Hello, my name is Haris Faruqi and I am a current senior. Something
						fun about me is that I love learning and performing magic.
					</p>
				</div>
				<!-- carlos -->
				<div class="profile">
					<img src="images/carlos.png" alt="a photo of carlos" />
					<h3>Carlos Ramirez</h3>
					<small>Organizer</small>
					<p>
						Hi, I'm Carlos and im a current junior. A fun fact about me is that
						I was born close to the beach.
					</p>
				</div>
			</div>
		</section>

		<hr />

		<section>
			<h2>Our Sponsors</h2>
			<p>Thank you to our sponsors for making AstroHacks possible!</p>
			<br />

			<div class="sponsers">
				<div>
					<h3>Hack Club</h3>
					<a href="https://hackclub.com/"
						><img src="images/hackclub.png" alt="Hack Club Logo" /></a
					>
				</div>
				<div>
					<h3>Boys & Girls Club</h3>
					<a href="https://www.bgca.org/"
						><img src="images/bgca.svg" alt="Boys & Girls Club Logo" /></a
					>
				</div>
				<div>
					<h3>CodeCrafters</h3>
					<a href="https://codecrafters.io/event/astrohacks"
						><img src="images/codecrafters.png" alt="CodeCrafters Logo" /></a
					>
				</div>
				<div>
					<h3>APEERS</h3>
					<a href="https://apeers.org/"
						><img src="images/apeers.png" alt="APEERS Logo" />
					</a>
				</div>
			</div>

			<footer class="copywrite"></footer>
			<p class="insta-copywrite">
				© 2024 AstroHacks. | <a href="https://www.instagram.com/astrohacks_/">
					<svg
						width="32"
						height="32"
						viewBox="0 0 32 32"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M10.4001 2.66666H21.6001C25.8667 2.66666 29.3334 6.13332 29.3334 10.4V21.6C29.3334 23.651 28.5187 25.618 27.0684 27.0683C25.6181 28.5186 23.6511 29.3333 21.6001 29.3333H10.4001C6.13341 29.3333 2.66675 25.8667 2.66675 21.6V10.4C2.66675 8.34898 3.48151 6.38198 4.93179 4.9317C6.38207 3.48142 8.34907 2.66666 10.4001 2.66666ZM10.1334 5.33332C8.86037 5.33332 7.63948 5.83904 6.7393 6.73921C5.83913 7.63939 5.33341 8.86028 5.33341 10.1333V21.8667C5.33341 24.52 7.48008 26.6667 10.1334 26.6667H21.8667C23.1398 26.6667 24.3607 26.1609 25.2609 25.2608C26.161 24.3606 26.6667 23.1397 26.6667 21.8667V10.1333C26.6667 7.47999 24.5201 5.33332 21.8667 5.33332H10.1334ZM23.0001 7.33332C23.4421 7.33332 23.866 7.50892 24.1786 7.82148C24.4912 8.13404 24.6667 8.55796 24.6667 8.99999C24.6667 9.44202 24.4912 9.86594 24.1786 10.1785C23.866 10.4911 23.4421 10.6667 23.0001 10.6667C22.5581 10.6667 22.1341 10.4911 21.8216 10.1785C21.509 9.86594 21.3334 9.44202 21.3334 8.99999C21.3334 8.55796 21.509 8.13404 21.8216 7.82148C22.1341 7.50892 22.5581 7.33332 23.0001 7.33332ZM16.0001 9.33332C17.7682 9.33332 19.4639 10.0357 20.7141 11.2859C21.9644 12.5362 22.6667 14.2319 22.6667 16C22.6667 17.7681 21.9644 19.4638 20.7141 20.714C19.4639 21.9643 17.7682 22.6667 16.0001 22.6667C14.232 22.6667 12.5363 21.9643 11.286 20.714C10.0358 19.4638 9.33341 17.7681 9.33341 16C9.33341 14.2319 10.0358 12.5362 11.286 11.2859C12.5363 10.0357 14.232 9.33332 16.0001 9.33332ZM16.0001 12C14.9392 12 13.9218 12.4214 13.1717 13.1716C12.4215 13.9217 12.0001 14.9391 12.0001 16C12.0001 17.0609 12.4215 18.0783 13.1717 18.8284C13.9218 19.5786 14.9392 20 16.0001 20C17.0609 20 18.0784 19.5786 18.8285 18.8284C19.5787 18.0783 20.0001 17.0609 20.0001 16C20.0001 14.9391 19.5787 13.9217 18.8285 13.1716C18.0784 12.4214 17.0609 12 16.0001 12Z"
							fill="white"></path>
					</svg>
				</a>
			</p>

			<br />

			<p>All rights reserved. Made with ❤️ by Kieran Klukas.</p>

			<p>
				AstroHacks is fiscally sponsored by The Hack Foundation (d.b.a. Hack
				Club), a 501(c)(3) nonprofit (EIN: 81-2908499).
			</p>
		</section>
	</main>

	<style>
		main {
			margin: auto;
			padding: 1rem;
			width: 75%;
			max-width: calc(100% - 2rem);
			color: white;
			font-size: 20px;
			line-height: 1.6;
			z-index: 1;
		}

		@media (max-width: 768px) {
			main {
				width: 90%;
			}
		}
		@media (max-width: 480px) {
			main {
				width: 100%;
			}
		}

		hr {
			border: 0;
			height: 0.1rem;
			background: white;
			margin: 2em 0;
		}

		.full-height-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 92vh;
			padding: 2rem;
			margin-top: 8rem;
		}

		.dropdowns {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}

		.scroll-icon {
			position: absolute;
			bottom: 3rem;
			left: 50%;
			transform: translateX(-50%) rotate(180deg);
			width: 4rem; /* Adjust as needed */
			height: 4rem; /* Adjust as needed */
		}

		.about-section {
			margin: 2rem 0;
		}

		.about-section p {
			margin: 1rem 0;
		}

		.schedule-section {
			margin: 2rem 0;
		}

		.image-row {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem;
		}

		.image-row img {
			width: 200px;
			height: 200px;
			object-fit: cover;
			border-radius: 0.25rem;
			border: 0.075rem solid white;
		}

		.profiles {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem;
		}

		.profile {
			border-radius: 0.25rem;
			border: 0.075rem solid white;
			text-align: center;
			max-width: 300px;
		}

		.profile img {
			width: 100%;
			object-fit: cover;
			border-radius: inherit;
		}

		.sponsers {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem;
		}
		.sponsers div {
			text-align: center;
		}

		.sponsers img {
			width: 15em;
			object-fit: cover;
		}

		.copywrite {
			text-align: center;
			margin: 2rem 0;
		}

		.insta-copywrite {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
		}

		.rsvp-button {
			margin-top: 1rem;
			background-color: white;
			color: black;
			padding: 1rem 2rem;
			border-radius: 0.25rem;
			font-size: 1.5rem;
			text-decoration: none;
			transition: background-color 0.3s;
		}

		.rsvp-button:hover {
			transform: perspective(1rem) scale(1.05) rotateX(-0.25deg);
		}

		.rsvp-button:active {
			transform: perspective(1rem) scale(0.95) rotateX(0.25deg);
		}
	</style>
</Layout>
